#mini_repertoire1 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    margin-top: 30px;

    .block_mini_repertoire{
        background-color: $gray;
        width: 400px;
        padding-bottom: 30px;
        border-radius: 16px;
        overflow: hidden;

        img{
            width: 100%;
            margin-bottom: 16px;
        }

        div{
            margin-left: 16px;
            padding-right: 40px;
            color: black;
        }

        .images_gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 0;
            padding-right: 0;

            .wrapper_image{
                width: 50%;
                position: relative;
                margin-left: 0;
                padding-right: 0;

                img{
                    margin-bottom: 0;
                }
            }
        }
    }
}
#mini_repertoire1 .block_mini_repertoire div .mini_repertoire_title {
    font-size: 1.25rem;
    margin-top: 0;
}
#mini_repertoire1 .block_mini_repertoire div .mini_repertoire_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#mini_repertoire1 .block_mini_repertoire div p {
    margin-top: 16px;
  }
#mini_repertoire1 .block_mini_repertoire div .mini_repertoire_author {
    font-style: italic;
    font-weight: 100;
    margin-top: 8px;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main > * {
    font-family: 'Merriweather', serif;
}
#form > #draggble {
    max-width: 500px;
    margin-bottom: 10px;
}
#form > #draggble > img {
    max-width: 100%;
}
#form > #draggble > * {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    width: 100%;
}
#form {
    margin-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
#form > * {
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
#form > input[type="text"], input[type="number"], input[type="password"], input[type="datetime-local"], input[type="date"], textarea {
    outline: none;
    background: none;
    border: 0;
    border-bottom: 5px #5F0006 solid;
}
input::file-selector-button, button, .download {
    background: #5F0006;
    color: #EFEBE9;
    border: 0;
    border-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 12px;
    font-family: $Merriweather;
}

.many_img {
    position: relative;

    img{
        width: 100%;
    }
}

.del_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-right{
    position: fixed;
    right: .3vw;
    top: 50vh;
    z-index: 999;
}

.save_all{
    transform: translateY(60%);
}
.clear_delete{
    transform: translateY(-60%);
}