#gallery{
    padding: 50px 0 70px 0;
    position: relative;
    width: calc(100vw - 100px);
    display: flex;
    gap: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: $primary-color;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;

    img{
        max-width: 100vw;
        max-height: 500px;
    }
    &.mini{
        height: 500px;
    }
    &.activety{
        animation: activety1 0.7s ease;
        animation-direction: normal;
    }
    &.disactivety{
        animation: activety2 0.7s ease;
        animation-direction: reverse;
    }
    &.mini::after {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, black 0%, rgba(255,255,255,0) 50%);
        position: absolute;
    }
    button.more{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;

        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 18px;
        font-family: $Merriweather;
        color: white;
        background-color: rgba(255,255,255,0);
    }

    button.more:hover {
        animation: more_button 1s ease 1;
    }

    button.more:hover {
        animation: mini_button 1s ease 1;
    }
}

@keyframes activety1{
    0%{
        height: 500px;
    }
    100%{
        height: var(--first-height);
    }
}

@keyframes activety2{
    0%{
        height: 500px;
    }
    100%{
        height: var(--first-height);
    }
}

@keyframes more_button{
    0%{
        transform: translate(-50%, 0);
    }
    50%{
        transform:translate(-50%, 10px);
    }
    100%{
        transform:translate(-50%, 0);
    }
}

@keyframes mini_button{
    0%{
        transform: translate(-50%, 0);
    }
    50%{
        transform:translate(-50%, -10px);
    }
    100%{
        transform:translate(-50%, 0);
    }
}