#main{
    position: relative;
    min-height: calc(100vh - 214px);
    .viewer{
        overflow-x: clip;
        width: 100vw;
        position: relative;

        .slider_wrapper{
            display: flex;
            overflow-x: hidden;
            transition: transform 1s ease-in-out;
            margin-bottom: 100px;
            
            .slider{
                display: flex;
                width: 100vw;
                background-color: $gray;
                font-family: $Merriweather;
                color: black;
            
                .about_slider{
                    width: 100%;
                    margin-right: 50px;
                    margin-top: $margin-colossal;
                    margin-left: 120px;
            
                    .about_slider_title{
                        font-size: $font-size-giant;
                        margin-bottom: 50px;
                        white-space: pre-wrap;
                    }
            
                    .about_slider_text{
                        font-size: $font-size-big;
                        margin-bottom: 50px;
            
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 9;
                        -webkit-box-orient: vertical;
                    }
            
                    .about_slider_more{
                        font-size: $font-size-giant;
                        font-style: italic;
                        color: rgba(134, 0, 8, 0.6);
                        font-weight: 900;
                    }
                }
            
                img{
                    width: 50%;
                    //height: fit-content;
                }
            }   
        }

        .prev, .next{
            cursor: pointer;
        }

        .nav_slider{
            width: 275px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 15%;
            left: 15%;

            .next{
                transform-origin: center;
                transform: rotateZ(180deg);
                z-index: 10;
            }
    
            .prev{
                z-index: 10;
            }
    
            #points{
                width: 200px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
    
                .point{
                    width: 20px;
                    height: 20px;
                    transition: all .5s ease;
                    background-color: $primary-color;
                    border-radius: 100%;
                    cursor: pointer;
                }
    
                .active_point{
                    background-color: #a50000;
                }
            }
        }
    }

    .slidera{
        display: flex;
        width: 100vw;
        background-color: $gray;
        font-family: $Merriweather;
        color: black;
        margin-bottom: 50px;
    
        .center_of_center {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            p {
                font-size: 70px;
                width: 80%;
            }
        }
    
        img{
            width: 50%;
            height: fit-content;
            background-color: $primary-color;
            padding: 0 50px;
        }
    }  

    #mini_repertoire{
        #mini_repertoire_wrapper{
            gap: 20px;
            width: 100%;
            @include display(flex,space-evenly,$fw:wrap);
            align-items: stretch;
            font-family: $Merriweather;
            margin-bottom: 50px;
            
            .block_mini_repertoire{
                background-color: $gray;
                max-width: 400px;
                padding-bottom: 30px;
                border-radius: 16px;
                overflow: hidden;

                img {
                    width: 100%;
                    border-radius: 15px;
                }

                div{
                    margin-left: $margin-mini;
                    padding-right: 40px;
                    color: black;

                    .mini_repertoire_title{
                        font-size: $font-size-averange;
                    }

                    .mini_repertoire_text{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    p{
                        margin-top: $margin-mini;
                    }

                    .mini_repertoire_author{
                        font-style: italic;
                        font-weight: 100;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}



@media screen {
    @media (max-width:1800px) {
        #main{
            .viewer{
                .slider_wrapper{
                    .slider{
                
                        .about_slider{
                            margin-top: 50px;
                            margin-left: 50px;
                
                            .about_slider_title{
                                font-size: $font-size-giant - 0.5rem;
                                margin-bottom: 40px;
                            }
                
                            .about_slider_text{
                                font-size: $font-size-big - 0.5rem;
                                margin-bottom: 25px;
                            }
                
                            .about_slider_more{
                                font-size: $font-size-giant - 0.5rem;
                            }
                        }
                    }
                }

                .nav_slider{
                    left: 8%;
                    bottom: 17%;
                }
            }
        }  
    }

    @media (max-width: 1455px) {
        #main {
            .slidera{
                .center_of_center {
                    p{
                        font-size: 50px;
                    }
                }
            }
        }
    }

    @media (max-width:1200px) {
        #main{
            .viewer{
                .slider_wrapper{
                    .slider{
                
                        .about_slider{
                            margin-top: 25px;
                            margin-left: 25px;
                            margin-right: 25px;
                
                            .about_slider_title{
                                margin-bottom: 20px;
                            }
                
                            .about_slider_text{
                                margin-bottom: 12px;
                                -webkit-line-clamp: 5;
                            }
                        }
                    }
                }

                .nav_slider{
                    left: 8%;
                    bottom: 17%;
                }
            }
        }
    }

    @media (max-width: 1100px) {
        #main {
            .slidera{
                width: 100vw;
                flex-direction: column-reverse;

                .center_of_center {
                    padding: 100px 0;
                }

                img{
                    width: calc(100% - 100px);
                }
            }
        }
    }

    @media (max-width: 930px) {
        #main{
            .viewer{
                .slider_wrapper{
                    margin-bottom: 10px;
                    .slider{
                        flex-direction: column-reverse;
                        justify-content: flex-end;
                        
                        .about_slider{
                            width: auto;
                            margin-top: 25px;
                            margin-left: 25px;
                            margin-right: 25px;
                
                            .about_slider_title{
                                margin-bottom: 20px;
                            }
                
                            .about_slider_text{
                                margin-bottom: 12px;
                                -webkit-line-clamp: 5;
                            }
                        }
                        img {
                            width: 100%;
                        }
                    }
                }

                .nav_slider{
                    width: 100%;
                    position: static;
                    margin-bottom: 25px;
                }
            }
        }
    }

    @media (max-width: 480px) {
        #main {
            .slidera{
                width: 100vw;
                flex-direction: column-reverse;

                .center_of_center {
                    padding: 100px 0;
                    p{
                        font-size: 30px;
                    }
                }

                img{
                    display: none;
                }
            }
        }
    }

    @media (max-width:400px) {
        .block_mini_repertoire{
            img{
                width: 100%;
            }
        }
    }
}