@media screen {
    #person{
        min-height: calc(100vh - 214px);
        margin-top: $margin-mini*1.5;
        @include display(flex,$fd:column,$al:center);
        transition: height 2s ease;

        #person_wrapper{
            @include display(flex,space-between,$fw:wrap);
            
            position: relative;
            width: 95%;
            column-gap: 20px;
            row-gap: $margin-averange;
            margin-bottom: $margin-averange;

            .block_person{
                min-width: 500px;
                width: 47%;
                height: fit-content;
                font-family: $Merriweather;

                transition: 1s ease;
                transition-property: width, height, max-width, min-width;
                
                display: flex;

                border-radius: 25px;

                background-color: $gray;

                overflow: hidden;

                cursor: pointer;

                img{
                    width: 150px;
                    height: fit-content;

                    float:left;

                    transition: 1s ease;
                    transition-property: width, border-radius;

                    margin-right: $margin-mini;
                }

                .about_person{
                    margin-top: $margin-mini;
                    margin-right: $margin-mini*2;

                    .name{
                        font-size: $font-size-averange_plus;
                        margin-bottom: calc($margin-mini / 2);
                    }

                    .text{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }

                @media (min-width: 1500px) {
                    width: 700px;
                }
                
                @media (max-width: 1074px) {
                    width: 100%;
                }
            }
        }

        .block_person_view {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100dvh;
            background-color: rgba($color: $gray, $alpha: .6);
            opacity: 0;
            z-index: -10;

            display: flex;
            justify-content: center;
            align-items: center;

            .block_person_view_wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $secondary-color;
                width: 60vw;
                border-radius: 25px;
                color: $light-color;

                img{
                    width: 200px;
                    border-radius: 0 0 25px 25px;
                }

                .about_person{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin: 30px 15% 8%;
                    font-family: $Merriweather;
                    
                    .name{
                        font-size: 50px;
                    }

                    p{
                        margin-top: 20px;
                    }
                }
            }
        }
        .block_person_view.active_block_person {
            z-index: 999;
            opacity: 1;
        }
    }
}

// #person{
//     @include display(flex,$fd:column,$al:center);

//     #person_wrapper{
//         @include display(grid,space-evenly,$fw:wrap);
//         width: 80%;
//         grid-template-columns: repeat(2,1fr);
//         gap: 50px;

//         .block_person{
//             height: 150px;
//             // width: 700px;

//             transition: 2s ease;
//             transition-property: width, height;
            

//             border-radius: 25px;

//             background-color: $gray;

//             overflow: hidden;
            
//             // margin-bottom: 50px;
//         }
//     }
// }