.section_name_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    .section_name{
        
        font-family: $Merriweather;
        font-size: $font-size-colossal;
        color: $primary-color;
    }

    .applicant{
        min-width: 300px;
        width: 50vw;

        margin-bottom: $margin-colossal;
    
        border: $primary-color solid 5px;
        border-radius: 10px;
    }
}

.mini{
    .section_name {
        white-space: nowrap;
    }

    .applicant{
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen {
    .section_name_wrapper{
        .section_name{
            @media (max-width: 680px) {
                font-size: $font-size-giant;
                
            }
        }

        .applicant{
            @media (max-width:1100px) {
                margin-bottom: 50px;
            }
        
            @media (max-width: 340px) {
                width: 72%;
                min-width: 0;
            }
        }
    }

    .mini {
        .section_name {
            @media (max-width:900px) {
                font-size: 1.7rem;
            }
            @media (max-width:400px) {
                font-size: 1.25rem;
            }
        }

        .applicant{
            @media (max-width:900px) {
                margin-bottom: 0;
            }
        }
    }
}