#main{
    margin-top: 26px;

    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

#applicant{
    width: 1000px;

    border: var(--primary-color) solid 5px;
    border-radius: 10px;
}

.block_repertoire{
    display: flex;
    flex-direction: row;
}

.block_repertoire > img{
    width: 800px;

    border-radius: 0 25px 25px 0;
}

.revers{
    flex-direction: row-reverse;

    background-color: var(--gray);
}

.revers > img{
    border-radius: 25px 0 0 25px;
}

.about{
    padding-top: 100px;
    padding-left: 195px;
    margin-right: 300px;
}

.description{
    margin-top: 30px;
}