#logo{
    width: 100%;
    height: var(--height-logo);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--light-color);

    font-family: 'Inter', sans-serif;
}