#menu{
    width: 100%;
    height: var(--height-menu);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);
}

#menu_wrapper{
    position: relative;

    min-width: 540px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_link{
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-secondary);
}

#menu_social_wrapper{
    position: absolute;

    right: -150px;

    min-width: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}