@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
#logo {
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #5F0006;
  color: #EFEBE9;
  font-family: "Inter", sans-serif;
}

a.router-link-active::after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

@media screen {
  #menu {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #890001;
  }
  #menu #menu_wrapper {
    position: relative;
    max-width: 600px;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #menu #menu_wrapper .menu_link {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    position: relative;
  }
  #menu #menu_social_wrapper {
    position: absolute;
    right: -150px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1290px) {
  #menu #menu_wrapper {
    position: fixed;
    background-color: #EFEBE9;
    max-width: none;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  #menu #menu_wrapper .menu_link {
    color: #890001;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
  #menu #menu_wrapper .router-link-active::after {
    background-color: #890001;
    height: 5px;
  }
  #menu #menu_wrapper #menu_social_wrapper {
    position: static;
  }
  #menu #menu_wrapper.activate {
    z-index: 999;
    opacity: 1;
  }
  #menu #menu_wrapper.activate > a {
    opacity: 1;
  }
  #menu .hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  #menu .hamburger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  #menu .hamburger::before,
  #menu .hamburger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  #menu .hamburger::before {
    top: 0;
  }
  #menu .hamburger::after {
    bottom: 0;
  }
}
@media screen and (max-width: 1290px) {
  .change_color {
    fill: #890001;
  }
}
#footer {
  width: 100vw;
  background-color: #5F0006;
  display: flex;
  gap: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #EFEBE9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_segments {
  height: 100%;
}
.footer_segments :first-child {
  display: flex;
  flex-direction: column;
}

#footer_first_segment {
  min-width: 280px;
  width: 20%;
  margin-left: 5%;
}

#footer_second_segment {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#footer_second_segment #dev {
  margin-top: 20px;
}

.titl {
  font-size: 24px;
  margin-bottom: 8px;
}

#footer_third_segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}
#footer_third_segment a {
  font-size: 20px;
  margin-top: 10px;
  position: relative;
}

@media screen and (max-width: 900px) {
  #footer {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #footer_first_segment {
    min-width: none;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  #footer_first_segment img {
    max-width: 250px;
  }
}
.section_name_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section_name_wrapper .section_name {
  font-family: "Merriweather", serif;
  font-size: 3.75rem;
  color: #5F0006;
}
.section_name_wrapper .applicant {
  min-width: 300px;
  width: 50vw;
  margin-bottom: 100px;
  border: #5F0006 solid 5px;
  border-radius: 10px;
}

.mini .section_name {
  white-space: nowrap;
}
.mini .applicant {
  width: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 680px) {
  .section_name_wrapper .section_name {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .section_name_wrapper .applicant {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 340px) {
  .section_name_wrapper .applicant {
    width: 72%;
    min-width: 0;
  }
}
@media screen and (max-width: 600px) {
  .mini .section_name {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1100px) {
  .mini .applicant {
    margin-bottom: 0;
  }
}
#main {
  position: relative;
  min-height: calc(100vh - 214px);
}
#main .viewer {
  overflow-x: clip;
  width: 100vw;
  position: relative;
}
#main .viewer .slider_wrapper {
  display: flex;
  overflow-x: hidden;
  transition: transform 1s ease-in-out;
  margin-bottom: 100px;
}
#main .viewer .slider_wrapper .slider {
  display: flex;
  width: 100vw;
  background-color: rgb(255, 224, 224);
  font-family: "Merriweather", serif;
  color: black;
}
#main .viewer .slider_wrapper .slider .about_slider {
  width: 100%;
  margin-right: 50px;
  margin-top: 100px;
  margin-left: 120px;
}
#main .viewer .slider_wrapper .slider .about_slider .about_slider_title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
#main .viewer .slider_wrapper .slider .about_slider .about_slider_text {
  font-size: 1.875rem;
  margin-bottom: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
#main .viewer .slider_wrapper .slider .about_slider .about_slider_more {
  font-size: 2.5rem;
  font-style: italic;
  color: rgba(134, 0, 8, 0.6);
  font-weight: 900;
}
#main .viewer .slider_wrapper .slider img {
  width: 50%;
}
#main .viewer .prev, #main .viewer .next {
  cursor: pointer;
}
#main .viewer .nav_slider {
  width: 275px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 15%;
  left: 15%;
}
#main .viewer .nav_slider .next {
  transform-origin: center;
  transform: rotateZ(180deg);
  z-index: 10;
}
#main .viewer .nav_slider .prev {
  z-index: 10;
}
#main .viewer .nav_slider #points {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#main .viewer .nav_slider #points .point {
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;
  background-color: #5F0006;
  border-radius: 100%;
  cursor: pointer;
}
#main .viewer .nav_slider #points .active_point {
  background-color: #a50000;
}
#main .slidera {
  display: flex;
  width: 100vw;
  background-color: rgb(255, 224, 224);
  font-family: "Merriweather", serif;
  color: black;
  margin-bottom: 50px;
}
#main .slidera .center_of_center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .slidera .center_of_center p {
  font-size: 70px;
  width: 80%;
}
#main .slidera img {
  width: 50%;
  height: fit-content;
  background-color: #5F0006;
  padding: 0 50px;
}
#main #mini_repertoire #mini_repertoire_wrapper {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  font-family: "Merriweather", serif;
  margin-bottom: 50px;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire {
  background-color: rgb(255, 224, 224);
  max-width: 400px;
  padding-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire img {
  width: 100%;
  border-radius: 15px;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire div {
  margin-left: 16px;
  padding-right: 40px;
  color: black;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire div .mini_repertoire_title {
  font-size: 1.25rem;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire div .mini_repertoire_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire div p {
  margin-top: 16px;
}
#main #mini_repertoire #mini_repertoire_wrapper .block_mini_repertoire div .mini_repertoire_author {
  font-style: italic;
  font-weight: 100;
  margin-top: 8px;
}

@media screen and (max-width: 1800px) {
  #main .viewer .slider_wrapper .slider .about_slider {
    margin-top: 50px;
    margin-left: 50px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_title {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_text {
    font-size: 1.375rem;
    margin-bottom: 25px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_more {
    font-size: 2rem;
  }
  #main .viewer .nav_slider {
    left: 8%;
    bottom: 17%;
  }
}
@media screen and (max-width: 1455px) {
  #main .slidera .center_of_center p {
    font-size: 50px;
  }
}
@media screen and (max-width: 1200px) {
  #main .viewer .slider_wrapper .slider .about_slider {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_title {
    margin-bottom: 20px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_text {
    margin-bottom: 12px;
    -webkit-line-clamp: 5;
  }
  #main .viewer .nav_slider {
    left: 8%;
    bottom: 17%;
  }
}
@media screen and (max-width: 1100px) {
  #main .slidera {
    width: 100vw;
    flex-direction: column-reverse;
  }
  #main .slidera .center_of_center {
    padding: 100px 0;
  }
  #main .slidera img {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 930px) {
  #main .viewer .slider_wrapper {
    margin-bottom: 10px;
  }
  #main .viewer .slider_wrapper .slider {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  #main .viewer .slider_wrapper .slider .about_slider {
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_title {
    margin-bottom: 20px;
  }
  #main .viewer .slider_wrapper .slider .about_slider .about_slider_text {
    margin-bottom: 12px;
    -webkit-line-clamp: 5;
  }
  #main .viewer .slider_wrapper .slider img {
    width: 100%;
  }
  #main .viewer .nav_slider {
    width: 100%;
    position: static;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 480px) {
  #main .slidera {
    width: 100vw;
    flex-direction: column-reverse;
  }
  #main .slidera .center_of_center {
    padding: 100px 0;
  }
  #main .slidera .center_of_center p {
    font-size: 30px;
  }
  #main .slidera img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .block_mini_repertoire img {
    width: 100%;
  }
}
@media screen {
  #repertoire {
    min-height: calc(100vh - 214px);
    margin-top: 24px;
    font-family: "Merriweather", serif;
  }
  #repertoire #repertoire_wrapper .block_repertoire {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
  }
  #repertoire #repertoire_wrapper .block_repertoire img {
    width: 40vw;
    border-radius: 0 25px 25px 0;
  }
}
@media screen and (max-width: 730px) {
  #repertoire #repertoire_wrapper .block_repertoire {
    flex-direction: column;
  }
  #repertoire #repertoire_wrapper .block_repertoire img {
    width: 100%;
    border-radius: 0 0 25px 25px;
  }
}
@media screen {
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire {
    width: 100%;
    padding-top: 100px;
    padding-left: 195px;
    margin-right: 250px;
    font-size: 1.875rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .about_repertoire_title {
    font-size: 2.5rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .about_repertoire_author {
    font-style: italic;
    font-size: 2.15rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-top: 32px;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .time {
    margin-top: 16px;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .date {
    margin-top: 32px;
  }
}
@media screen and (max-width: 1800px) {
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire {
    padding-top: 50px;
    padding-left: 105px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 1600px) {
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire {
    padding-top: 30px;
    padding-left: 50px;
    margin-right: 50px;
    font-size: 1.25rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .about_repertoire_title {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 1100px) {
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire {
    font-size: 1rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .about_repertoire_title {
    font-size: 1.25rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .description {
    margin-top: 16px;
    -webkit-line-clamp: 4;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .date {
    margin-top: 16px;
  }
}
@media screen and (max-width: 730px) {
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire {
    padding: 16px;
    margin: 0;
    width: auto;
    font-size: 1rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .about_repertoire_title {
    font-size: 1.25rem;
  }
  #repertoire #repertoire_wrapper .block_repertoire .about_repertoire .about_repertoire_author {
    margin-top: 25px;
  }
}
@media screen {
  #repertoire #repertoire_wrapper .block_repertoire.revers {
    flex-direction: row-reverse;
    background-color: rgb(255, 224, 224);
  }
  #repertoire #repertoire_wrapper .block_repertoire.revers img {
    border-radius: 25px 0 0 25px;
  }
  #repertoire #repertoire_wrapper .block_repertoire_news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #repertoire #repertoire_wrapper .block_repertoire_news .description {
    width: 80vw;
    max-width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #repertoire #repertoire_wrapper .block_repertoire_news.revers {
    background-color: rgb(255, 224, 224);
  }
}
@media screen and (max-width: 730px) {
  #repertoire #repertoire_wrapper .block_repertoir.revers {
    flex-direction: column;
  }
  #repertoire #repertoire_wrapper .block_repertoir.revers img {
    border-radius: 0 0 25px 25px;
  }
}
@media screen {
  #person {
    min-height: calc(100vh - 214px);
    margin-top: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: height 2s ease;
  }
  #person #person_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 95vw;
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1000px) {
  #person #person_wrapper {
    width: 100vw;
  }
}
@media screen {
  #person #person_wrapper .block_person {
    max-width: 700px;
    min-width: 500px;
    width: 47%;
    height: fit-content;
    font-family: "Merriweather", serif;
    transition: 1s ease;
    transition-property: width, height, max-width, min-width;
    display: flex;
    border-radius: 25px;
    background-color: rgb(255, 224, 224);
    overflow: hidden;
    cursor: pointer;
  }
  #person #person_wrapper .block_person img {
    width: 150px;
    height: fit-content;
    float: left;
    transition: 1s ease;
    transition-property: width, border-radius;
    margin-right: 16px;
  }
  #person #person_wrapper .block_person .about_person {
    margin-top: 16px;
    margin-right: 32px;
  }
  #person #person_wrapper .block_person .about_person .name {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  #person #person_wrapper .block_person .about_person .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 1074px) {
  #person #person_wrapper .block_person {
    min-width: auto;
    max-width: none;
    width: 100%;
  }
}
@media screen {
  #person .block_person_view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(255, 224, 224, 0.6);
    opacity: 0;
    z-index: -10;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #person .block_person_view .block_person_view_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #890001;
    width: 100vw;
    max-width: 1000px;
    border-radius: 25px;
    color: #EFEBE9;
  }
  #person .block_person_view .block_person_view_wrapper img {
    max-width: 400px;
    width: 100vw;
    border-radius: 0 0 25px 25px;
  }
  #person .block_person_view .block_person_view_wrapper .about_person {
    display: flex;
    flex-direction: column;
    margin: 30px 15% 8%;
    font-family: "Merriweather", serif;
    white-space: pre-wrap;
  }
  #person .block_person_view .block_person_view_wrapper .about_person .name {
    font-size: 50px;
  }
  #person .block_person_view .block_person_view_wrapper .about_person p {
    margin-top: 20px;
  }
  #person .block_person_view .block_person_view_wrapper .about_person .role {
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 1000px) {
  #person .block_person_view .block_person_view_wrapper {
    position: relative;
    top: 150px;
  }
}
@media screen {
  #person .block_person_view.active_block_person {
    z-index: 999;
    opacity: 1;
  }
}
@media screen and (max-width: 490px) {
  #person #person_wrapper .block_person {
    flex-direction: column;
  }
  #person #person_wrapper .block_person img {
    width: 100%;
  }
  #person #person_wrapper .block_person .about_person {
    margin-left: 16px;
    margin-bottom: 32px;
  }
}
#award {
  min-height: calc(100vh - 214px);
  margin-top: 50px;
  margin-bottom: 50px;
}
#award #award_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 20px;
}
#award #award_wrapper .award_element {
  color: black;
  max-width: 500px;
  background-color: rgb(255, 224, 224);
  border-radius: 25px;
  overflow: hidden;
}
#award #award_wrapper .award_element img {
  width: 100%;
}
#award #award_wrapper .award_element p {
  font-size: 1.5rem;
  margin-top: 16px;
  margin-left: 25px;
  margin-bottom: 25px;
}

#gallery {
  padding: 50px 0 70px 0;
  position: relative;
  width: calc(100vw - 100px);
  display: flex;
  gap: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #5F0006;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
#gallery img {
  height: 500px;
}
#gallery.mini {
  height: 500px;
}
#gallery.activety {
  animation: activety1 0.7s ease;
  animation-direction: normal;
}
#gallery.disactivety {
  animation: activety2 0.7s ease;
  animation-direction: reverse;
}
#gallery.mini::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
}
#gallery button.more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-family: "Merriweather", serif;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}
#gallery button.more:hover {
  animation: more_button 1s ease 1;
}
#gallery button.more:hover {
  animation: mini_button 1s ease 1;
}

@keyframes activety1 {
  0% {
    height: 500px;
  }
  100% {
    height: var(--first-height);
  }
}
@keyframes activety2 {
  0% {
    height: 500px;
  }
  100% {
    height: var(--first-height);
  }
}
@keyframes more_button {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes mini_button {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Merriweather", serif;
  min-height: calc(100dvh - 214px);
  margin-top: 50px;
  margin-bottom: 50px;
}
#contact * {
  font-size: 2rem;
}
#contact a {
  color: #890001;
}

@media screen and (max-width: 500px) {
  #contact * {
    font-size: 1rem;
  }
}
@media screen {
  #repertoire_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    font-family: "Merriweather", serif;
  }
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted {
    padding: 50px 140px 50px 100px;
    margin-top: 50px;
    background-color: rgb(255, 224, 224);
    color: #890001;
    font-size: 2.5rem;
    border-radius: 0 50px 50px 0;
  }
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted #repertoire_info_title {
    margin-bottom: 25px;
  }
  #repertoire_info #repertoire_info_wrapper > p {
    padding-right: 50px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 1.875rem;
  }
  #repertoire_info img {
    max-height: 100vh;
    width: 50%;
    height: fit-content;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 1299px) {
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted {
    padding: 25px 70px 25px 50px;
    margin-top: 25px;
    font-size: 1.5rem;
    border-radius: 0 25px 25px 0;
  }
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted #repertoire_info_title {
    margin-bottom: 25px;
  }
  #repertoire_info #repertoire_info_wrapper > p {
    padding-right: 25px;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 1rem;
  }
  #repertoire_info img {
    width: 40%;
    border-bottom-left-radius: 25px;
    margin-left: 25px;
  }
}
@media screen and (max-width: 800px) {
  #repertoire_info {
    flex-direction: column-reverse;
    margin-bottom: 25px;
  }
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted {
    font-size: 2.5rem;
    padding-top: 50px;
    margin-top: 0;
    position: relative;
    top: -25px;
    border-radius: 0 0 25px 25px;
    z-index: -1;
  }
  #repertoire_info #repertoire_info_wrapper > p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 25px;
  }
  #repertoire_info img {
    max-height: none;
    width: 100%;
    margin: 0;
    border-radius: 0 0 25px 25px;
  }
}
@media screen and (max-width: 600px) {
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted {
    font-size: 1.5rem;
    padding: 50px 25px 25px 25px;
  }
  #repertoire_info #repertoire_info_wrapper > p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 312px) {
  #repertoire_info #repertoire_info_wrapper #repertoire_info_allotted {
    font-size: 1.25rem;
  }
  #repertoire_info #repertoire_info_wrapper > p {
    font-size: 1rem;
  }
}
@media screen {
  #cast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
    row-gap: 25px;
    column-gap: 20px;
  }
  #cast .cast_wrapper {
    width: 225px;
    height: 320px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Merriweather", serif;
    background-color: rgb(255, 224, 224);
  }
  #cast .cast_wrapper > img {
    width: 130px;
    border-radius: 0 0 25px 25px;
  }
  #cast .cast_wrapper > div {
    margin-top: 16px;
    text-align: center;
    font-size: 2rem;
  }
  #cast .cast_wrapper > div .name {
    font-size: 1.2rem;
    margin-top: 16px;
  }
  #time_place {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
}
@media screen {
  #map {
    width: 100vw;
    height: 60dvh;
  }
}
.err404 {
  height: 100vh;
  margin: 50px 0 0 50px;
  font-family: "Merriweather", serif;
  font-size: 30px;
}

#mini_repertoire1 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
  margin-top: 30px;
}
#mini_repertoire1 .block_mini_repertoire {
  background-color: rgb(255, 224, 224);
  width: 400px;
  padding-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;
}
#mini_repertoire1 .block_mini_repertoire img {
  width: 100%;
  margin-bottom: 16px;
}
#mini_repertoire1 .block_mini_repertoire div {
  margin-left: 16px;
  padding-right: 40px;
  color: black;
}
#mini_repertoire1 .block_mini_repertoire .images_gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
  padding-right: 0;
}
#mini_repertoire1 .block_mini_repertoire .images_gallery .wrapper_image {
  width: 50%;
  position: relative;
  margin-left: 0;
  padding-right: 0;
}
#mini_repertoire1 .block_mini_repertoire .images_gallery .wrapper_image img {
  margin-bottom: 0;
}

#mini_repertoire1 .block_mini_repertoire div .mini_repertoire_title {
  font-size: 1.25rem;
  margin-top: 0;
}

#mini_repertoire1 .block_mini_repertoire div .mini_repertoire_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#mini_repertoire1 .block_mini_repertoire div p {
  margin-top: 16px;
}

#mini_repertoire1 .block_mini_repertoire div .mini_repertoire_author {
  font-style: italic;
  font-weight: 100;
  margin-top: 8px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main > * {
  font-family: "Merriweather", serif;
}

#form > #draggble {
  max-width: 500px;
  margin-bottom: 10px;
}

#form > #draggble > img {
  max-width: 100%;
}

#form > #draggble > * {
  font-family: "Merriweather", serif;
  font-size: 20px;
  width: 100%;
}

#form {
  margin-top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

#form > * {
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: 20px;
}

#form > input[type=text], input[type=number], input[type=password], input[type=datetime-local], input[type=date], textarea {
  outline: none;
  background: none;
  border: 0;
  border-bottom: 5px #5F0006 solid;
}

input::file-selector-button, button, .download {
  background: #5F0006;
  color: #EFEBE9;
  border: 0;
  border-radius: 10px;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Merriweather", serif;
}

.many_img {
  position: relative;
}
.many_img img {
  width: 100%;
}

.del_btn {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-right {
  position: fixed;
  right: 0.3vw;
  top: 50vh;
  z-index: 999;
}

.save_all {
  transform: translateY(60%);
}

.clear_delete {
  transform: translateY(-60%);
}

* {
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 1290px) {
  .lock {
    overflow-y: hidden;
  }
}
.lock_person {
  overflow-y: hidden;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100%;
  background-color: #EFEBE9;
  overflow-x: hidden;
  font-size: 16px;
}

a {
  color: #EFEBE9;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
